.App{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
/*     position: fixed;
    top: 0;
    left: 0; */
}
.header h2{
    color:#666;
    font-size:32px;
    font-weight: 300;
}
.header a{
    display:flex;
    align-items: center;
    color:#666;
    font-size:28px;
    font-weight: 300;
    text-decoration: none;
}

.card-wrapper {
    max-width: 960px;
    margin:10px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}